<div id="view">
    <div class="container pad">
        <div class="card">
            <div class="wrapper">
                <h2>Hey, there!</h2>
                <p>LindolLive's purpose is to enhance the user experience on browsing through the list of seismic events in the Philippines. The current DOST PHIVOCS website can be seen <a href="https://earthquake.phivolcs.dost.gov.ph/" target="_blank" rel="noopener noreferrer">here</a>. </p>
                <h2>Contribute</h2>
                <p>This website is open-source and you can contribute to it if you want to enhance the functionality or add features to the website. You may view the repository <a href="https://gitlab.com/juvarabrera/lindol.live" target="_blank" rel="noopener noreferrer">here</a>.</p>
                <p>This project is initiated by <a href="https://www.juvarabrera.com" target="_blank" rel="noopener noreferrer">Juvar Abrera</a>. The following are the contributors:</p>
                <ol>
                    <li><a href="https://twitter.com/solace_eternal" target="_blank" rel="noopener noreferrer">Fırat Bağ (from Turkey)</a> - suggested the Earthquake Distribution Map on the Dashboard page.</li>
                    <li><a href="https://twitter.com/extrememaverick" target="_blank" rel="noopener noreferrer">Jarrell (from Philippines)</a> - suggested to record changes if DOST PHIVOLCS updates their earthquake event on their website.</li>
                </ol>
                <p>Be a contributor by suggesting new features or reporting issues. You may DM the X account <a href="https://twitter.com/lindol_live" target="_blank" rel="noopener noreferrer">@lindol_live</a> or email us at <a href="mailto:lindol.live@juvarabrera.com">lindol.live@juvarabrera.com</a>.</p>
                <h2>Get Notifications Live on 𝕏</h2>
                <p>You may get notified on latest earthquakes with magnitude more than 4.0 on 𝕏, formerly called Twitter. Follow <a href="https://twitter.com/lindol_live" target="_blank" rel="noopener noreferrer">@lindol_live</a> and enable notifications to <b>"All Tweets"</b>.</p>
                <p>Notifications are pushed as soon as DOST PHIVOLCS published the earthquake event on their website. So, it's possible that the notifications will not be in real-time because this website is dependent when DOST PHILVOCS will update their website. It's possible also that the information posted on @lindol_live profile may not be the latest data because DOST PHIVOLCS needs to verify the data and updates it several times on their website.</p>
                <h2>Where do I get the data?</h2>
                <p>The data is crawled from the <a href="https://earthquake.phivolcs.dost.gov.ph/" target="_blank" rel="noopener noreferrer">DOST PHIVOLCS website</a>. I am currently preparing a way for anyone to have access to the data soon.</p>
                <h2>Donation</h2>
                <p>LindolLive is free, open source, and not funded by the Department of Science and Technology or any other government agencies. The only cost to make this website up and running is the domain which cost roughly <b>$28.00 per year or around Php 1,587.57 per year</b> (as of this writing) every <b>21st of August</b>. </p>
                <p>Help me to keep this website up and running. If you also find this website helpful, a small donation would also help.</p>
                <p><a href="https://paypal.me/jfabrera" class="btn" target="_blank" rel="noopener noreferrer">PayPal Donation</a></p>
                <p>
                  <img src="assets/images/maya_qr.jpg" width="350px" style="vertical-align: top; margin: 0px 24px 24px 0px;"/>
                  <img src="assets/images/gcash_qr.jpg" width="350px" style="vertical-align: top; margin: 0px 24px 24px 0px;"/>
                </p>
                <h2>Contact</h2>
                <p>You may contact me via DM on Twitter/X if you have inquiries: <a href="https://twitter.com/lindol_live" target="_blank" rel="noopener noreferrer">@lindol_live</a> or <a href="https://twitter.com/JuvarAbrera" target="_blank" rel="noopener noreferrer">@JuvarAbrera</a></p>
                </ul>
            </div>
        </div>
    </div>
</div>