<nav>
    <div class="container">
        <h1>LINDOL.LIVE</h1>
        <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/dashboard">Dashboard</a></li>
            <li><a href="#/learn">Learn</a></li>
            <li><a href="#/about">About</a></li>
        </ul>
    </div>
</nav>
<div class="content">
    <div id="view">
        
    </div>
</div>
<footer>
    <div class="container">
        <p>&copy; 2025 LindolLive by <a href="https://www.juvarabrera.com" target="_blank" rel="noopener noreferrer">Juvar Abrera</a>.</p>
        <p><a href="/#/about/privacy">Privacy Policy</a></p>
    </div>
</footer>