<div id="view">
    <div class="container pad">
        <div class="card">
            <div class="wrapper">
                <h2>Learn</h2>
                <h3>Gabay Para Sa Paghahanda Sa Lindol</h3>
                <h4>Bago Lumindol</h4>
                <ul>
                    <li>
                        Ang maagang pagpaplano ang mabisang susi laban sa kalamidad.
                        <ol>
                            <li>Alamin ang mga panganib dulot ng lindol sa inyong lugar.</li>
                            <li>Siguraduhin na matibay ang pagpapagawa sa mga bahay o gusali. Ito ay dapat na umaayon sa tama at iminumungkahing "<i>safe engineering practice</i>" ng mga dalubhasa.</li>
                            <li>Alamin kung matibay ang gusali at iba pang mahahalagang imprastraktura. Pagtibayin pa kung kinakailangan.</li>
                        </ol>
                    </li>
                    <li>
                        Ihanda ang inyong bahay, paaralan at lugar na pinagtatrabahuhan.
                        <ol>
                            <li>Itali o ikabit ng mahigpit ang mga mabibigat na kagamitan sa dingding.</li>
                            <li>Tiyakin kung matatag ang pagkakabitin ng mga bagay tulad ng bentilador at <i>chandelier</i>.</li>
                            <li>Ilagay o itago sa pinakababa at ligtas na parte ng mga istante ang mga babasagin, mga nakakalasong kemikal at mga bagay na madaling magliyab.</li>
                        </ol>
                    </li>
                    <li>Alamin ang mga labasan o <i>exit route</i> sa mga gusali.</li>
                    <li>Alamin kung saan matatagpuan at matutong gamitin ang mga <i>fire extinguisher, first aid kit, alarm</i>, gamit pang-komunikasyon, at <i>emergency exit</i>.</li>
                    <li>
                        Maghanda ng "<i>emergency supply kit</i>" na naglalaman ng:
                        <ol>
                            <li>First aid kit</li>
                            <li>Pagkain</li>
                            <li>Tubig</li>
                            <li>Damit</li>
                            <li>Kumot</li>
                            <li>Radyong de batery</li>
                            <li>Flashlight</li>
                            <li>Ekstrang batery, at iba pa.</li>
                        </ol>
                    </li>
                    <li>Regular na magsagawa at makilahok sa mga earthquake drill.</li>
                </ul>
                <h4>Habang Lumilindol</h4>
                <ul>
                    <li>Maging mahinahon. Kung nasa loob ng isang matibay na bahay o gusali, <b>manatili sa loob</b>!</li>
                    <li>
                        Gawin ang "<b>Duck, Cover, and Hold</b>"
                        <ol>
                            <li>Kung kakayanin, buksan nang mabilis ang pintuan</li>
                            <li>Magtago sa ilalim ng matibay na mesa at humawak sa paanan nito. Kung walang mesa, takpan ng mga kamay ang ulo at batok.</li>
                            <li>Lumayo sa bintana at pintong babasagin, istante, kabinet at iba pang mabibigat na mga bagay.</li>
                        </ol>
                    </li>
                    <li>Mag-ingat sa maaring bumagsak na mga bagay. Maging alerto at mapagmasid sa kapaligiran.</li>
                    <li>
                        Kung nasa labas, pumunta sa isang ligtas na lugar.
                        <ol>
                            <li>Lumayo sa mga puno, poste ng kuryente, pader at iba pang istruktura na maaring bumagsak o matumba.</li>
                            <li>Lumayo sa gilid at dalisdis ng mga bundok na maaring gumuho.</li>
                            <li>Kung nasa tabing-dagat at nakaramdam ng malakas na lindol, mabilis na lumikas sa mas mataas na lugar. Maaring magkaroon ng tsunami.</li>
                            <li>Kung nagmamaneho, itabi at ihinto ang sasakyan. Huwagmagtangkang tumawid sa tulay, overpass or flyover dahil maaring napinsala ito ng lindol.</li>
                        </ol>
                    </li>
                </ul>
                <h4>Matapos Lumindol</h4>
                <ul>
                    <li>Matapos ang pagyanig, piliin ang pinakamabilis at pinakaligtas na daan palabas ng gusali.</li>
                    <li>
                        Maghanda sa aftershocks. Huwag gawin ang mga sumusunod:
                        <ol>
                            <li>Gumamit ng elevator.</li>
                            <li>Pumasok sa mga gusaling may sira.</li>
                            <li>Gumamit ng telepono maliban na lang kung kinakailangan</li>
                            <li>Mag-panic</li>
                            <li></li>
                        </ol>
                    </li>
                    <li>
                        Suriin ang mga sumusunod:
                        <ol>
                            <li>Ang sarili at mga kasama kung nagtamo ng pinsala.</li>
                            <li>Ang mga linya ng tubig at kuryente kung nagkaroon ng sira.</li>
                            <li>Ang natapong nakalalason at madaling magliyab na mga kemikal.</li>
                            <li>Kung may sunog agad itong kontrolin at puksain.</li>
                        </ol>
                    </li>
                    <li>Kung kinakailangang lisanin ang tahanan, mag-iwan ng mensahe na nakasaad ang lugar na patutunguhan. Dalhin ang emergency supply kit.</li>
                    <li>Patuloy na makinig sa mga anunsyo at babala gamit ang radyong de baterya.</li>
                </ul>
                <a href="https://drive.google.com/file/d/0B8_KPQhbpktXUDVkRmZwRWgzZ28/view?resourcekey=0-iX1cZbpdQidYsdwniefokg" target="_blank" rel="noopener noreferrer">See Source</a>
                <h3>Resources</h3>
                <ul>
                    <li><a href="https://www.phivolcs.dost.gov.ph/index.php/earthquake/earthquake-preparedness" target="_blank" rel="noopener noreferrer">Earthquake Preparedness by DOST PHIVOLCS</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>