:root {
    --primary: #F8B003;
    --secondary: #9D5C38;
    --dark: #363222;
    --light: #C1DBDC;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    font-family: 'Roboto';
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    font-family: 'Oswald';
    text-transform: uppercase;
    color: var(--dark);
}
.container {
    min-width: 320px;
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 24px;
    margin: 0px auto;
}
.container-fluid {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 24px;
    margin: 0px auto;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
nav {
    background-color: var(--primary);
    font-family: 'Oswald';
    color: var(--dark);
    z-index: 10;
    position: fixed;
    width: 100%;
    text-transform: uppercase;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    h1 {
        margin: 0px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ul {
        list-style-type: none;
        font-weight: bold;
        text-align: center;
        padding: 0px;
        margin: 0px;
        li {
            display: inline-block;
            a {
                text-decoration: none;
                color: var(--dark);
                padding: 4px 8px;
                &:hover {
                    color: var(--secondary);
                }
            }
        }
    }
}
h1 {
    font-size: 33px;
}
.content {
    padding-top: 48px;
    background-color: #e9e9e5;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: top;
        &.pad {
            padding: 24px;
        }
    }
    aside {
        width: calc(100% / 12 * 4);
        border-radius: 15px 0px 0px 15px;
    }
    main {
        width: calc(100% / 12 * 8);
        min-height: 300px;
        text-align: center;
        border-radius: 0px 15px 15px 0px;
        overflow: hidden;
        box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    }
}
ul {
    line-height: 200%;
}
.card {
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    .wrapper {
        padding: 0px 24px;
    }
}
footer {
    background-color: var(--dark);
    color: rgba(255,255,255,.7);
    padding: 32px 0px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        color: white;
    }
    p:last-child {
        text-align: right;
    }
}
[data-template] {
    display: none !important;
}
.magnitude {
    display: grid;
    place-items: center;
    padding: 0px 12px;
    margin: 24px auto;
    small {
        font-size: 13px;
        color: gray;
    }
    span {
        color: white;
        background-color: gray;
        margin-top: 8px;
        border-radius: 100%;
        display: inline-block;
        font-weight: bold;
        aspect-ratio: 1/1;
        width: 60%;
        display: grid;
        place-items: center;
    }
    &.large span {
        font-size: 47px;
    }
    &.category-1 span {
        background-color: #77dbb1;
        color: var(--dark);
    }
    &.category-2 span {
        background-color: #52be91;
    }
    &.category-3 span {
        background-color: #e9c53d;
    }
    &.category-4 span {
        background-color: var(--primary);
    }
    &.category-5 span {
        background-color: #e44d67;
    }
    &.category-6 span {
        background-color: #c72842;
    }
}
p {
    line-height: 150%;
}
h3 {
    text-align: left;
}
.btn {
    background-color: var(--light);
    color: var(--dark);
    font-family: 'Oswald';
    text-transform: uppercase;
    padding: 12px 24px;
    text-decoration: none;
    margin-bottom: 24px;
    margin-right: 12px;
    display: inline-block;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    &.full {
        width: 100%;
        text-align: center;
    }
    &.small {
        font-size: 12px;
        padding: 12px;
    }
}
.m-0 {
    margin: 0px !important;
}
.loading-bg {
    animation: animateBg 1s infinite linear;
    background-size: 300% 100%;
    background-image: linear-gradient(135deg, #efefef, #d9d9d9, #efefef, #d9d9d9);
}
@keyframes animateBg {
    0% {
        background-position: 150% 0;
    }
    100% {
        background-position: 0% 0;
    }
}
input {
    width: 100%;
    padding: 12px 12px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
}
.events-container {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 600px;
    margin-bottom: 12px;
    &.no-scroll {
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}
.map {
    width: 100%;
    min-height: 400px;
    height: 100%;
    &.big {
        min-height: 900px;
    }
    .loading {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 48px;
        box-sizing: border-box;
        background-color: var(--light);
        img {
            opacity: .2;
        }
    }
    path:hover {
        fill: red;
    }
}
.event {
    padding: 12px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 3px solid transparent;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-align: left;
    [data-type="details"] {
        text-align: right;
    }
    & > div:last-child {
        width: 100%;
        padding-right: 8px;
    }
    .summary {
        display: block;
    }
    .details {
        display: none;
    }
    .magnitude {
        margin: 0px;
        padding: 0px;
        width: 60px;
        min-width: 60px;
        small {
            display: none;
        }
    }
    p {
        margin: 0;
    }
    &.active {
        border: 3px solid var(--light);
        flex-direction: column;
        align-items: center;
        padding: 12px 24px;
        margin: 24px;
        text-align: center;
        background-color: rgba(0,0,0,.03);
        .magnitude {
            width: 80%;
            margin: 0px auto;
            margin-bottom: 12px;
            small {
                margin-bottom: 8px;
                display: block;
            }
            span {
                margin: 0px;
                font-size: 39px;
            }
        }
        p {
            margin: 0px;
            margin-bottom: 8px;
            font-weight: bold;
            small {
                font-weight: 400;
                display: block;
            }
        }
        .summary {
            display: none;
            small {
                display: block;
                margin-top: 4px;
                font-weight: 400;
                color: gray;
            }
        }
        .details {
            display: block;
        }
    }
    &:hover {
        background-color: rgba(0,0,0,.03);
    }
    &.primary {
        margin-bottom: 12px;
    }
    &.loading {
        .magnitude {
            span {
                animation: animateBg 1s infinite linear;
                background-size: 300% 100%;
                background-image: linear-gradient(135deg, #efefef, #d9d9d9, #efefef, #d9d9d9);
            }
        }
        .summary, .details {
            width: 100%;
            p, small {
                width: 80%;
                display: block;
                margin: 12px auto;
                height: 18px;
                border-radius: 5px;
                animation: animateBg 1s infinite linear;
                background-size: 300% 100%;
                background-image: linear-gradient(135deg, #efefef, #d9d9d9, #efefef, #d9d9d9);
            }
            small {
                height: 14px;
            }
        }
    }
}
#event-summary {
    display: flex;
    flex-direction: column;
}
.dual-slider {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    .slider-track{
        width: 100%;
        height: 3px;
        position: absolute;
        margin: auto;
        background-color: var(--secondary);
        top: 0;
        bottom: 0;
        border-radius: 5px;
    }
    input[type="range"]{
        border: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        outline: none;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        background-color: transparent;
        pointer-events: none;
    }
    input[type="range"]::-webkit-slider-runnable-track{
        -webkit-appearance: none;
        height: 5px;
    }
    input[type="range"]::-moz-range-track{
        -moz-appearance: none;
        height: 5px;
    }
    input[type="range"]::-ms-track{
        appearance: none;
        height: 5px;
    }
    input[type="range"]::-webkit-slider-thumb{
        -webkit-appearance: none;
        height: 1.7em;
        width: 1.7em;
        background-color: var(--primary);
        cursor: pointer;
        margin-top: -9px;
        pointer-events: auto;
        border-radius: 50%;
    }
    input[type="range"]::-moz-range-thumb{
        -webkit-appearance: none;
        height: 1.7em;
        width: 1.7em;
        cursor: pointer;
        border-radius: 50%;
        background-color: var(--primary);
        pointer-events: auto;
    }
    input[type="range"]::-ms-thumb{
        appearance: none;
        height: 1.7em;
        width: 1.7em;
        cursor: pointer;
        border-radius: 50%;
        background-color: var(--primary);
        pointer-events: auto;
    }
    input[type="range"]:active::-webkit-slider-thumb{
        background-color: #ffffff;
        border: 3px solid var(--primary);
    }
}
.ads {
    padding-right: 24px;
    box-sizing: border-box;
}
@media screen and (max-width: 960px) {
    .container {
        flex-direction: column-reverse;
        aside, main {
            width: 100%;
        }
        aside {
            border-radius: 0px 0px 15px 15px;
        }
        main {
            border-radius: 15px 15px 0px 0px;
        }
    }
    nav {
        .container {
            flex-direction: column;
        }
        ul {
            margin-bottom: 12px;
        }
    }
    .content {
        padding-top: 94px;
    }
    #event-summary {
        flex-direction: row;
        & > div {
            width: 50%;
            padding: 12px;
        }
    }
    .ads {
        padding-right: 0px;
        padding-top: 24px;
    }
}
@media screen and (max-width: 560px) {
    #event-summary {
        flex-direction: column;
        & > div {
            width: 100%;
            padding: 0px;
        }
    }
    .content {
        .container.pad {
            padding: 0px;
        }
    }
    nav ul li a {
        font-size: 14px;
    }
    .container {
        aside, main {
            width: 100%;
        }
        aside {
            border-radius: 0px;
        }
        main {
            border-radius: 0px;
        }
    }
}