<div id="view">
    <div class="container pad">
        <div class="card">
            <div class="wrapper">
                <h2>Dashboard</h2>
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Magnitude Range</h4>
                    <div class="dual-slider-values" data-slider="magnitude">
                        <h4><span class="min"></span> - <span class="max"></span></h4>
                    </div>
                </div>
                <input type="hidden" id="start_date">
                <div class="dual-slider" data-slider="magnitude">
                    <div class="slider-track"></div>
                    <input type="range" name="slider1">
                    <input type="range" name="slider2">
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Date Range</h4>
                    <div class="dual-slider-values" data-slider="date">
                        <h4><span class="min"></span> - <span class="max"></span></h4>
                    </div>
                </div>
                <div class="dual-slider" data-slider="date">
                    <div class="slider-track"></div>
                    <input type="range" name="slider1">
                    <input type="range" name="slider2">
                </div>
                <h3>Monthly Earthquake Magnitude Distribution</h3>
                <canvas id="timeSeriesAnalysisChart"></canvas>
                <h3>Earthquake Distribution Map</h3>
                <div id="heatMapDistribution" class="map big">
                    <div class="loading loading-bg">
                        <img src="assets/images/philippines.svg" alt="Philippine Map" height="550px">
                    </div>
                </div>
                <p>Due to performance, we can only render earthquakes with magnitude 4.5 and above.</p>
            </div>
        </div>
    </div>
</div>