<div id="view">
    <div class="container pad">
        <aside class="card">
            <div class="wrapper" style="padding-top: 24px; padding-bottom: 12px">
                <a href="#/home/index/0" class="btn small">All Events</a>
                <a href="#/home/index/4" class="btn small">Magnitude >= 4</a>
                <a href="#/home/index/6" class="btn small">Magnitude >= 6</a>
            </div>
            <div class="events-container">
                <div class="event" data-template="event">
                    <div class="magnitude">
                        <small>Magnitude</small>
                        <span></span>
                    </div>
                    <div class="summary">
                        <p data-type="municipality"></p>
                        <small data-type="datetime"></small>
                    </div>
                    <div class="details">
                        <p data-type="depth">-</p>
                        <p data-type="time">-</p>
                        <p data-type="location">-</p>
                        <a href="" class="btn small m-0">View More</a>
                    </div>
                </div>
            </div>
            <div class="loading hide">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </aside>
        <main>
            <div id="map" class="map">
                <div class="loading loading-bg">
                    <img src="assets/images/philippines.svg" alt="Philippine Map" height="550px">
                </div>
            </div>
        </main>
    </div>
    <div class="loading-container" data-template="loading-events-1">
        <div class="event active loading">
            <div class="magnitude">
                <small>Magnitude</small>
                <span></span>
            </div>
            <div class="summary">
                <p data-type="municipality"></p>
                <small data-type="datetime"></small>
            </div>
            <div class="details">
                <p data-type="depth"></p>
                <p data-type="time"></p>
                <p data-type="location"></p>
            </div>
        </div>
        <div class="event loading">
            <div class="magnitude">
                <small>Magnitude</small>
                <span></span>
            </div>
            <div class="summary">
                <p data-type="municipality"></p>
                <small data-type="datetime"></small>
            </div>
            <div class="details">
                <p data-type="depth">-</p>
                <p data-type="time">-</p>
                <p data-type="location">-</p>
            </div>
        </div>
        <div class="event loading">
            <div class="magnitude">
                <small>Magnitude</small>
                <span></span>
            </div>
            <div class="summary">
                <p data-type="municipality"></p>
                <small data-type="datetime"></small>
            </div>
            <div class="details">
                <p data-type="depth">-</p>
                <p data-type="time">-</p>
                <p data-type="location">-</p>
            </div>
        </div>
        <div class="event loading">
            <div class="magnitude">
                <small>Magnitude</small>
                <span></span>
            </div>
            <div class="summary">
                <p data-type="municipality"></p>
                <small data-type="datetime"></small>
            </div>
            <div class="details">
                <p data-type="depth">-</p>
                <p data-type="time">-</p>
                <p data-type="location">-</p>
            </div>
        </div>
    </div>
    <div class="loading-container" data-template="loading-events-2">
        <div class="event loading">
            <div class="magnitude">
                <small>Magnitude</small>
                <span></span>
            </div>
            <div class="summary">
                <p data-type="municipality"></p>
                <small data-type="datetime"></small>
            </div>
            <div class="details">
                <p data-type="depth">-</p>
                <p data-type="time">-</p>
                <p data-type="location">-</p>
            </div>
        </div>
        <div class="event loading">
            <div class="magnitude">
                <small>Magnitude</small>
                <span></span>
            </div>
            <div class="summary">
                <p data-type="municipality"></p>
                <small data-type="datetime"></small>
            </div>
            <div class="details">
                <p data-type="depth">-</p>
                <p data-type="time">-</p>
                <p data-type="location">-</p>
            </div>
        </div>
        <div class="event loading">
            <div class="magnitude">
                <small>Magnitude</small>
                <span></span>
            </div>
            <div class="summary">
                <p data-type="municipality"></p>
                <small data-type="datetime"></small>
            </div>
            <div class="details">
                <p data-type="depth">-</p>
                <p data-type="time">-</p>
                <p data-type="location">-</p>
            </div>
        </div>
    </div>
</div>