<div id="view">
    <div class="container pad">
        <aside class="card">
            <div class="events-container no-scroll">
                <div class="event" data-template="event">
                    <div class="magnitude">
                        <small>Magnitude</small>
                        <span></span>
                    </div>
                    <div class="summary">
                        <p data-type="municipality"></p>
                        <small data-type="datetime"></small>
                    </div>
                    <div class="details">
                        <p data-type="depth">-</p>
                        <p data-type="time">-</p>
                        <p data-type="location">-</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <a href="#/home" class="btn small full">Go Back</a>
            </div>
        </aside>
        <main>
            <div id="map" class="map">
                <div class="loading loading-bg">
                    <img src="assets/images/philippines.svg" alt="Philippine Map" height="550px">
                </div>
            </div>
        </main>
    </div>
    <div class="loading-container" data-template="loading-events-1">
        <div class="event active loading">
            <div class="magnitude">
                <small>Magnitude</small>
                <span></span>
            </div>
            <div class="summary">
                <p data-type="municipality"></p>
                <small data-type="datetime"></small>
            </div>
            <div class="details">
                <p data-type="depth"></p>
                <p data-type="time"></p>
                <p data-type="location"></p>
            </div>
        </div>
    </div>
</div>